[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "*"
python-dotenv = "*"
whitenoise = "*"
psycopg = {extras = ["binary"], version = "*"}
django = "*"

[dev-packages]

[requires]
python_version = "3.14"
